@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}

	.main-nav {
		margin-left: 76px;
	}
	.auth-nav {
		flex-direction: row;
		margin-left: auto;
	}

	.auth-nav .item + .item {
		margin-left: 40px;
	}
	.hero {
		max-width: 1440px;
		height: 600px;
		padding-top: 188px;
		padding-bottom: 188px;
	}

	.hero-title {
		margin-bottom: 48px;
	}
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.features {
		padding-bottom: 0;
	}
	.section-list {
		flex-wrap: nowrap;
	}
	.feature-list-icon {
		height: 112px;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px 0;
		background-color: var(--light);
		background-position: center;
		border-radius: 4px;
	}
	.item-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}
	.object .section-item {
		width: calc((100% - 2 * 24px) / 3);
	}

	.customer-item {
		width: calc((100% - 5 * 24px) / 6);
	}

	/* ----FOOTER---- */
	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.footer-wrap {
		flex-wrap: nowrap;
		gap: 0;
	}
	.wrap {
		width: 100%;
	}
	.footer-soc-wrap {
		margin-left: 120px;
		margin-right: 80px;
	}
	.footer-description {
		width: 264px;
	}
}

/* -----PORTFOLIO----- */

.filter {
	padding-top: 96px;
}
.filter-list {
	display: flex;
	margin-bottom: 72px;
	justify-content: center;
}

.filter-list .item-btn + .item-btn {
	margin-left: 24px;
}

.filter-btn {
	display: inline-block;

	padding: 12px 24px;
	min-width: 69px;
	border-radius: 4px;
	border: 1px solid var(--secondary-accent);

	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--primary-color);
	background-color: var(--btn-color);
	outline: transparent;

	cursor: pointer;

	transition: border var(--transition), color var(--transition), background-color var(--transition),
		box-shadow var(--transition);
}

.filter-btn:hover,
.filter-btn:focus {
	border: 1px solid transparent;
	color: var(--btn-text);
	background-color: var(--primary-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.portfolio-link {
	display: block;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
	outline: transparent;

	transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .card {
	border: 1px solid var(--secondary-accent);
	border-top: none;
}

.portfolio-overlay {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	background-color: var(--primary-color);
	transform: translateY(100%);

	transition: transform var(--transition);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
	transform: translateY(0%);
}

.overlay-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--btn-color);
}
