@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}

	.main-nav {
		margin-left: 76px;
	}
	.auth-nav {
		flex-direction: row;
		margin-left: auto;
	}

	.auth-nav .item + .item {
		margin-left: 40px;
	}
	.hero {
		max-width: 1440px;
		height: 600px;
		padding-top: 188px;
		padding-bottom: 188px;
		background-image: var(--bg-gradient), url(../images/hero-bg-desk.jpg);
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: var(--bg-gradient), url(../images/hero-bg-desk-2x.jpg);
		}
	}

	.hero-title {
		margin-bottom: 48px;
	}
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.features {
		padding-bottom: 0;
	}
	.section-list {
		flex-wrap: nowrap;
	}
	.feature-list-icon {
		height: 112px;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px 0;
		background-color: var(--light);
		background-position: center;
		border-radius: 4px;
	}
	.item-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}
	.object .section-item {
		width: calc((100% - 2 * 24px) / 3);
	}

	.customer-item {
		width: calc((100% - 5 * 24px) / 6);
	}

	/* ----FOOTER---- */
	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.footer-wrap {
		flex-wrap: nowrap;
		gap: 0;
	}
	.wrap {
		width: 100%;
	}
	.footer-soc-wrap {
		margin-left: 120px;
		margin-right: 80px;
	}
	.footer-description {
		width: 264px;
	}

	/* -----PORTFOLIO----- */

	.filter {
		padding-top: 96px;
	}
	.portfolio {
		flex-wrap: wrap;
	}
	.portfolio-list {
		max-width: calc((100% - 2 * 24px) / 3);
	}
}
