@media screen and (min-width: 480px) {
}

@media screen and (max-width: 767px) {
	.section-list {
		flex-direction: column;
		align-items: center;
	}
	.section.section-team {
		padding-bottom: 128px;
	}
	.filter-list {
		max-width: 380px;
	}
}
