@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.hero {
		height: 436px;
		padding-bottom: 108px;
	}

	.hero-title {
		max-width: 496px;
		margin-bottom: 40px;
		font-size: 56px;
		line-height: 1.07;
	}
	.section-list {
		column-gap: 24px;
	}

	.section-item {
		width: calc((100% - 24px) / 2);
	}

	.item-title {
		text-align: left;
	}
	.customer-list {
		column-gap: 24px;
	}
	.customer-item {
		width: calc((100% - 24px * 2) / 3);
	}
	.customer-icon {
		width: 104px;
	}
}

@media screen and (max-width: 1199px) {
	.section-list {
		justify-content: center;
	}
	.features .item-description {
		font-weight: 500;
	}
	.unvisible {
		display: none;
	}
}
